@charset "UTF-8";

.nav-menu-res {
	z-index: 99;
	width: 100%;
	height: 50px;
	position: relative;
}

.menu-hide{
  width: 200px;
  right: -205px;
  height: 100vh;
  position: fixed;
  top: 0px;
  transition: all .5s ease-in-out;
  text-align: center;
  z-index: 50;
  background: #A38C5F;
  padding-top: 100px;
}

.show{
  right: 0px;
  transition: all .5s ease-in-out;
}

.menures__logo {
  width: 150px;
}

.hamburger_div {
	position: absolute;
	display: block;
	right: 25px;
	top: 20px;
	z-index: 99;
	width: 30px;
	transition: 0.5s ease-in-out;
	text-align: right;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + #contentDos {
  padding-top: 50px;
}

.hamburguer-slide {
  right: 150px;
}

.menuicon {
	background-color: #000;
	height: 3px;
	width: 100%;
	margin-bottom: 4px;
	transition: 0.3s;
	float: right;
}

.menuicon--white {
	background-color: #fff;
}

.menures {
  text-align: left;
  margin-top: 70px;
}

.menures li {
	list-style-type: none;
	margin-left: 25%;
	position: relative;
}

.menures a {
	text-decoration: none;
	color: #fff;
	margin: 2px 0;
	display: inline-block;
	margin-left: 5px;
	transition: 0.5s;
}

.active {
	height: 1em;
	background-color: #fff;
	width: 2px;
	display: inline-block;
	position: absolute;
	left: -5px;
	bottom: 5px;
}

.brochure__logo {
	margin-top: 20px;
}


@media (min-width: 992px) {

.menu__logo {
  width: 200px;
  margin: 0 40px;
}

}



@media (min-width: 1200px) {

}



@media (min-width: 1440px) {

}