@media (max-width: 320px) {

.hover__info h3 {
  color: #fff;
  font-size: 1.2em;
}

.hover__info p {
  font-size: 0.65em;
}


}


@media (min-width: 768px) {

.hover__info {
  padding: 20px 10vw;
}

.hover__info .separation-line {
  margin: 15px auto;
}

.hover__info h3 {
	font-size: 2.5em;
}

.hover__info p {
	font-size: 1.4em;
}

.interior_slide-text {
  top: 50px;
  left: 50px;
}

.interior_slide-text h2 {
  text-transform: uppercase;
  font-size: 2em;
}

.interior_slide-text h3 {
  font-size: 3em; 
}

.equipo {
  padding-top: 5vh;
}


/*FOOTER*/

footer {
  padding: 50px 20vw;
}

}


@media (min-width: 992px) {



.flex-direction-nav .flex-prev {
	left: 10px;
}

.flex-direction-nav .flex-next {
	right: 10px;
}

.equipo .flex-direction-nav a:before {
  color: rgba(0,0,0,0.5);
}

.content-04 {
	position: relative;
	height: 100vh;
}

#contentSeis {
	position: absolute;
}

.content-06 {
	position: relative;
}


.info__casas {
	position: absolute;
	bottom: 10vh;
	left: 0;
	transform: translateX(10%);
	padding: 0;
	width: 80%;
}

.info__casas-item {
	width: 16%;
	vertical-align: top;
	display: inline-block;
	position: relative;
	padding: 0 10px;
	box-sizing: border-box;
	transform: translateY(100px);
	opacity: 0;
	-webkit-transition: 0.5s ease-out;
	transition: 0.5s ease-out;
}

.info__casas-item h3 {
  font-size: 2em;
  font-weight: 400;
  color: #fff;
}

.info__casas-item h4 {
  font-size: 1.1em; 
  color: #fff;
}

.info__casas-item--separation {
	position: absolute;
	top: 0;
	right: 0;
  height: 30px;
  background-color: #fff;
  width: 2px;
  display: inline-block;
  margin: 20px 0;
}


/*LADERA SECTION*/

.ladera__section-item {
	float: left;
	width: 50%;
  	padding: 0 5vw;
  	box-sizing: border-box;
}

/*INTERIOR*/

.interior_slide-text {
  top: 50px;
  left: 10vw;
  text-align: center;
}

.interior_slide-text h2 {
  text-transform: uppercase;
  font-size: 1.2em;
  letter-spacing: 3px;
}

.interior_slide-text h3 {
  font-size: 3.2em;
  margin: -15px;
}

.interior_slide-text .separation-line-white {
  position: relative;
  width: 40%;
}

/*TIPOLOGIA CASA SECTION*/

.tipologia-casa-item {
	float: left;
	width: 50%;
	box-sizing: border-box;
	padding: 0 5vw;
	margin-top: 15px;
}

.container_gallery_tab {
  padding: 0;
}

.hover__info {
  padding: 10px 1vw;
}

.hover__info-show {
  opacity: 1;
}

.hover__info h3 {
  font-size: 1.2em;
}

.hover__info p {
	margin-top: 10px;
  font-size: 0.8em;
}

/*FOOTER*/

footer {
  padding: 50px 30vw;
}

}

@media (min-width: 1100px) and (orientation: landscape) {

body {
	font-size: 18px;
}


.reveal {
	transform: translateY(0);
	opacity: 1;
}

.hidden {
	transform: translateY(100px);
	opacity: 0;
	-webkit-transition: 0.5s ease-out;
	transition: 0.5s ease-out;
}

.video__section--mobile {
	display: none;
}

.video__section--layer {
  position: relative;
  z-index: 4;
  width: 100%;
  padding: 0;
  top: 0;
  right: 0;
  text-align: right;
  box-sizing: border-box;
}

.vendimia-logo-video {
	position: absolute;
	top: 40px;
	right: 40px;
  	width: 250px;
}

#myVideo {
	display: block;
}

/*ORIGEN PROYECTO SECTION*/

.reveal {
	transform: translateY(0);
	opacity: 1;
}

/*EQUIPO SECTION*/

.equipo {
  height: 100vh;
  padding-top: 0;
}

.flexslider.equipo {
  margin-bottom: 0;
}

.equipo .section__title--color {
  padding-top: 5vh;
}

.equipo__slide-container {
	padding: 0 8vw;
}

.equipo .flex-control-nav {
  bottom: 50px;
}

.flexslider .slides .equipo__img {
	display: inline-block;
	width: 45%;
}

.equipo__description {
	width: 45%;
	padding: 40px;
  display: inline-block;
  transform: translateY(-60px) translateX(-30px);
}

.equipo__description h3 {
  font-weight: 700;
  font-size: 1.4em;
}

.equipo__description p {
  font-size: 1em;
  line-height: 1.2em;
}

/*CONTACT SECTION*/

.contact__section {
  padding: 50px 0;
}

.contact__info {
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 0;
  margin: 0 5%;
}

.contact__section img {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5%;
}

.separation-line {
  width: 10%;
}
.separation-line-white {
  width: 10%;
}

/*INTERIOR*/

.hover__info {
  padding: 10px 5vw;
}

.hover__info h3 {
  font-size: 1.5em;
}

/*FOOTER*/

footer {
  padding: 0px 10vw;
}

.footer_img {
	width: 25%;
  vertical-align: middle;
  margin: 20px 1%;
  display: inline-block;
  padding: 0 1%;
}

.footer_img-medium {
	width: 18%;
  vertical-align: middle;
  margin: 20px 1%;
  display: inline-block;
  padding: 0 1%;
}

.footer_img-small {
	width: 15%;
  vertical-align: middle;
  margin: 20px 1%;
  display: inline-block;
  padding: 0 1%;
}


}

@media (min-width: 1920px) and (orientation: landscape) {

.equipo__slide-container {
  padding: 0 15vw;
}

}