/* -------------------------------------------------------------- 
  
   reset.css
   * Resets default browser CSS.
   
-------------------------------------------------------------- */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

body { 
  line-height: 1.5;
  font-family: 'Work Sans', sans-serif;
}

caption, th, td { 
	text-align: left; 
	font-weight: normal; 
}
table, td, th { 
	vertical-align: middle; 
}

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after { 
	content: ""; 
}
blockquote, q { 
	quotes: "" ""; 
}

/* Remove annoying border on linked images. */
a img { 
	border: none;
}

h2 {
  font-weight: 600;
  font-size: 1.4em;
  line-height: 1.1em;
}


[class^="content"] {
  margin: 10vh 0;
  text-align: center;
  align-items: center;
}

.content-01 {
  margin-top: 0;
}

.main_menu {
  display: none;
  position: fixed;
  width: 100%;
  padding: 10px;
  background-color: yellow;
}

.main_menu ul li {
  display: inline-block;
}

.main_menu ul li a {
  background: yellow;
  text-decoration: none;
  margin: 0 10px; 
}

/*.evoluciona__front {
  background-image: url(../images/bkg1.jpg);
  background-size: cover;
  background-position: center center;
  height: 100vh; 
  height: calc(var(--vh, 1vh) * 100);
}

.evoluciona__front img {
  padding-top: 35vh;
}

.evoluciona__intro {
  padding: 10vw 10vw 0 10vw;
}

.evoluciona__intro h2 {
  color: #7b6f65;
  text-align: left;
  text-transform: uppercase;
}*/

.separation-line {
  height: 2px;
  background-color: #7b6f65;
  margin: 10px 0 10px 0;
}

/*.evoluciona__intro p {
  margin-top: 40px;
  font-size: 1.1em;
  color: #706f6f;
  display: inline-block;
  width: 100%;
  font-weight: 300;
  text-align: left;
}*/

#myVideo{
  display: none;
  position: relative;
  right: 0;
  bottom: 0;
  top:0;
  right:0;
  width: 100%;
  height: 100vh;
  background-size: 100% 100%;
    background-color: black; /* in case the video doesn't fit the whole page*/
    background-image: /* our video */;
    background-position: center center;
    background-size: contain;
    object-fit: cover; /*cover video background */
    z-index:3;
}

.section__title h2 {
  color: #fff;
  text-align: left;
  text-transform: uppercase;
}

.section__title--color h2 {
  color: #7b6f65;
  text-align: left;
  text-transform: uppercase;
}

.separation-line-white {
  height: 2px;
  background-color: #fff;
  margin: 10px 0 25vh 0;
}

.vendimia-logo-video {
  width: 200px;
}

.video__section--layer {
  position: absolute;
  z-index: 4;
  width: 100%;
  left: 0;
  top: 5vh;
  padding: 30vh 10vw 0 10vw;
  box-sizing: border-box;
}

.video__section--mobile .flexslider .flex-direction-nav a {
  display: none;
}

.video__section--mobile .flexslider .flex-control-paging li a {
  width: 8px;
  height: 8px;
}


/*ORIGEN PROYECTO SECTION*/

.origen__proyecto {
  padding: 0 10vw;
  display: block;
}

.origen__proyecto--img {
  width: 100%;
  margin-top: 50px;
}

.origen__proyecto p {
  width: 100%;
  display: inline-block;
  font-size: 1.1em;
  text-align: left;
  font-weight: 300;
}



/*EQUIPO SECTION*/

.equipo {
  padding: 50px 10vw 0px 10vw;
  text-align: left;
}

.equipo h3 {
  display: inline-block;
  vertical-align: middle;
  font-weight: 600;
  color: #7b6f65;
}

.equipo div {
  display: inline-block;
  vertical-align: middle;
}

.equipo p {
  margin-top: 10px;
  display: inline-block;
  vertical-align: middle;
}

.vistas__layer {
  position: absolute;
  z-index: 4;
  width: 100%;
  left: 0;
  top: 5vh;
  padding: 0 10vw 0 10vw;
  box-sizing: border-box;
}

.info__casas {
  padding-bottom: 60px;
}

.info__casas-item h3 {
  font-size: 3.8em;
  font-weight: 400;
  color: #7b6f65;
}

.info__casas-item h4 {
  font-size: 1.7em; 
  color: #7b6f65;
}

.info__casas-item--separation {
  height: 2px;
  background-color: #7b6f65;
  width: 30vw;
  display: inline-block;
  margin: 20px 0;
}

.content-05 {
  margin-bottom: 50px;
}

.ladera__section {
  padding: 0 10vw;
  display: block;
}

.ladera__section-item {
  padding: 0 10vw;
}

.ladera__section--img {
  width: 100%;
  margin: 30px 0 40px 0;
}

.ladera__section-item h3 {
  font-size: 1.4em;
  font-weight: 600;
  color: #7b6f65;
  text-align: left;
  margin-bottom: 15px;
}

.ladera__section-item p {
  width: 100%;
  display: inline-block;
  color: #7b6f65;
  font-size: 1.1em;
  line-height: 1.3em;
  text-align: left;
  font-weight: 300;
}








/*TAB GALLERY SECTION*/

/* The grid: Four equal columns that floats next to each other */
.column_gallery_tab {
  float: left;
  width: 25%;
  padding: 10px;
  box-sizing: border-box;
}

/* Style the images inside the grid */
.column_gallery_tab img {
  opacity: 0.8; 
  cursor: pointer;
  width: 100%;
  border: 1px solid #00000026;
}

.column_gallery_tab img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row_gallery_tab:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.container_gallery_tab {
  margin-top: 30px;
  padding: 0 5vw;
  position: relative;
  /*display: none;*/
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}

.hover__info {
  position: absolute;
  box-sizing: border-box;
  padding: 3vh 15vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  width: 90%;
  background-color: rgba(129, 126, 113, 0.8);
  height: 100%;
  opacity: 0;
  transition: 0.5s;
}

.hover__info-show {
  opacity: 1;
}

.hover__info .separation-line {
  background-color: #fff;
  margin-top: 5px;
}

.hover__info h3 {
  color: #fff;
  font-size: 1.5em;
}

.hover__info p {
  line-height: 1.2em;
  font-size: 0.8em;
  font-weight: 300;
  color: #fff;
}

.proyectos__section {
  padding: 0 5vw;
  margin: 40px 0;
  position: relative;
}

.proyectos__section img {
  max-width: 100%;
}

.proyecto__hover {
  position: absolute;
  box-sizing: border-box;
  padding: 3vh 15vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  width: 90%;
  background-color: rgba(129, 126, 113, 0.8);
  height: 100%;
  opacity: 0;
  transition: 0.5s;
}

.proyecto__hover-show {
  opacity: 1;
}

.proyecto__hover h3 {
  color: #fff;
  font-size: 1.7em;
}

.proyecto__hover .separation-line-white {
  margin: 5px 0 10px 0;
}

.proyecto__hover p {
  line-height: 1.2em;
  font-size: 0.8em;
  font-weight: 300;
  color: #fff;
}

.contact__section {
  padding: 0 10vw;
}

.contact__info {
  margin-top: 40px;
  color: #7C7065;
}

.contact__section img {
  margin-top: 40px;
  width: 200px;
}

