/* -------------------------------------------------------------- 
  
   reset.css
   * Resets default browser CSS.
   
-------------------------------------------------------------- */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

body { 
  line-height: 1.5;
  font-family: 'Quicksand', sans-serif;
}

caption, th, td { 
	text-align: left; 
	font-weight: normal; 
}
table, td, th { 
	vertical-align: middle; 
}

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after { 
	content: ""; 
}
blockquote, q { 
	quotes: "" ""; 
}

/* Remove annoying border on linked images. */
a img { 
	border: none;
}

@font-face {
  font-family: 'Biloxi Script';
  src: url("../fonts/biloxi.ttf");
}

h2 {
  font-weight: 600;
  font-size: 1.1em;
  line-height: 1.1em;
}

.clearfix {
  clear: both;
}

.max-width {
  max-width: 2000px;
}

[class^="content"] {
  margin: 10vh 0;
  text-align: center;
  align-items: center;
}

.content-01 {
  margin-top: 0;
}

.main_menu {
  display: none;
  position: fixed;
  width: 100%;
  padding: 10px;
  background-color: yellow;
}

.main_menu ul li {
  display: inline-block;
}

.main_menu ul li a {
  background: yellow;
  text-decoration: none;
  margin: 0 10px; 
}

/*.evoluciona__front {
  background-image: url(../images/bkg1.jpg);
  background-size: cover;
  background-position: center center;
  height: 100vh; 
  height: calc(var(--vh, 1vh) * 100);
}

.evoluciona__front img {
  padding-top: 35vh;
}

.evoluciona__intro {
  padding: 10vw 10vw 0 10vw;
}

.evoluciona__intro h2 {
  color: #7b6f65;
  text-align: left;
  text-transform: uppercase;
}*/

/*.evoluciona__intro p {
  margin-top: 40px;
  font-size: 1.1em;
  color: #706f6f;
  display: inline-block;
  width: 100%;
  font-weight: 300;
  text-align: left;
}*/

.section__title h2 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}

.separation-line {
  height: 2px;
  background-color: #565656;
  width: 20%;
  margin: 10px auto 0 auto;
}

.section__title--color h2 {
  color: #565656;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}

.title__word {
  font-family: 'Biloxi Script';
  font-size: 3.4em;
  line-height: 1em;
  color: #A38C5F;
  /*width: 200px;
  margin-top: 10px;*/
}

.title__word--white {
  font-family: 'Biloxi Script';
  font-size: 3.4em;
  line-height: 0.8em;
  color: #fff;
  margin: 10px 0;
  /*width: 200px;
  margin-top: 10px;*/
}

/*.title__word--long {
  width: 300px;
  margin-top: 10px;
}

.title__word--short {
  width: 270px;
  margin-top: 10px;
}

.title__word--xtrashort {
  width: 180px;
  margin-top: 10px;
}*/

.separation-line-white {
  height: 2px;
  background-color: #fff;
  width: 20%;
  margin: 10px auto 0 auto;
}

#myVideo{
  display: none;
  position: relative;
  right: 0;
  bottom: 0;
  top:0;
  right:0;
  width: 100%;
  height: 100vh;
  background-size: 100% 100%;
    background-color: black; /* in case the video doesn't fit the whole page*/
    background-image: /* our video */;
    background-position: center center;
    background-size: contain;
    object-fit: cover; /*cover video background */
    z-index:3;
}

.vendimia-logo-video {
  width: 200px;
}

.video__section--mobile {
  height: calc(var(--vh, 1vh) * 100);
  background-image: url(../images/front-res.jpg);
  background-size: cover;
  background-position: center center;
}

.video__section--layer {
  position: absolute;
  z-index: 4;
  width: 100%;
  left: 0;
  top: 5vh;
  padding: 35vh 10vw 0 10vw;
  box-sizing: border-box;
}

.video__section--mobile .flexslider .flex-direction-nav a {
  display: none;
}

.video__section--mobile .flexslider .flex-control-paging li a {
  width: 8px;
  height: 8px;
}


/*ORIGEN PROYECTO SECTION*/

.content-02 {
  margin-top: 0;
}

.origen__proyecto {
  padding: 0 10vw;
  display: block;
}

.origen__proyecto--img {  
  width: 100%;
  margin-top: 50px;
}

.origen__proyecto p {
  width: 100%;
  display: inline-block;
  font-size: 1.1em;
  text-align: left;
  font-weight: 300;
  color: #565656;
}



/*EQUIPO SECTION*/

.content-03 {
 /* height: calc(var(--vh, 1vh) * 100);*/
  margin: 10vh 0 0 0;
}

.equipo {
  padding-top: 10vh;
}

.equipo .section__title--color {
  margin-bottom: 30px;
}

.equipo__description {
  background-color: #A38C5F;
  mix-blend-mode: multiply;
  color: #fff;
  padding: 20px 10vw;
  text-align: left;
  transform: translateY(-30px);
}

.equipo__description h3 {
  font-weight: 700;
  font-size: 1.4em;
}

.equipo__description p {
  font-size: 1em;
  line-height: 1.2em;
}

.equipo .flex-control-nav {
  bottom: -20px;
}

.equipo .flex-control-nav li a {
  background-color: rgba(0,0,0,0.2);
}

.equipo .flex-control-nav li a.flex-active {
  background-color: #000;
}


/*.equipo {
  padding: 50px 10vw 0px 10vw;
  text-align: left;
}

.equipo h3 {
  display: inline-block;
  vertical-align: middle;
  font-weight: 600;
  color: #7b6f65;
}

.equipo div {
  display: inline-block;
  vertical-align: middle;
}

.equipo p {
  margin-top: 10px;
  display: inline-block;
  vertical-align: middle;
}*/



/*VISTAS SECTION*/

.content-04 {
  margin: 0 0 0vh 0;
}

.vistas__layer {
  position: absolute;
  z-index: 4;
  width: 100%;
  left: 0;
  top: 7vh;
  padding: 0 5vw;
  box-sizing: border-box;
}

.vista_slide {
  height: calc(var(--vh, 1vh) * 100);
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}

.vista-1 {
  background-image: url(../images/vista_1.jpg);
}

.vista-2 {
  background-image: url(../images/vista_2.jpg);
}

.vista-3 {
  background-image: url(../images/vista_3.jpg);
}

.vista-4 {
  background-image: url(../images/vista_4.jpg);
}

.vista-5 {
  background-image: url(../images/vista_5.jpg);
}


.info__casas {
  padding-bottom: 60px;
}

.info__casas-item h3 {
  font-size: 3.8em;
  font-weight: 400;
  color: #7b6f65;
}

.info__casas-item h4 {
  font-size: 1.7em; 
  color: #7b6f65;
}

.info__casas-item--separation {
  height: 2px;
  background-color: #7b6f65;
  width: 30vw;
  display: inline-block;
  margin: 20px 0;
}

/*LADERA SECTION*/

.content-05 {
  margin-bottom: 50px;
}

.ladera__section {
  padding: 0 10vw;
  display: block;
}

.ladera__section-item {
  padding: 0 10vw;
}

.ladera__section--img {
  width: 100%;
  margin: 30px 0 40px 0;
}

.ladera__section-item h3 {
  font-size: 1.4em;
  font-weight: 600;
  color: #565656;
  text-align: left;
  margin-bottom: 15px;
}

.ladera__section-item p {
  width: 100%;
  display: inline-block;
  color: #565656;
  font-size: 1.1em;
  line-height: 1.3em;
  text-align: left;
  font-weight: 300;
}


/*INTERIOR VIEW SLIDES*/

.content-06 {
  height: calc(var(--vh, 1vh) * 100);
}

.interior_slider {
  height: 100vh;
}

.interior_slide {
  height: calc(var(--vh, 1vh) * 100);
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  position: relative;
}

.interior_slide-text {
  position: absolute;
  top: 30px;
  left: 30px;
  text-align: left;
  color: #fff;
}

.interior_slide-text h2 {
  text-transform: uppercase;
}

.interior_slide-text h3 {
  font-family: 'Biloxi Script';
  font-size: 2em; 
}

.interior_slide-text .separation-line-white {
  position: absolute;
  bottom: 0;
  left: 0;
}


.interior-1 {
  background-image: url(../images/interior_1.jpg);
}

.interior-2 {
  background-image: url(../images/interior_2.jpg);
}

.interior-3 {
  background-image: url(../images/interior_3.jpg);
}

.interior-4 {
  background-image: url(../images/interior_4.jpg);
}

.interior-5 {
  background-image: url(../images/interior_5.jpg);
}

.interior-6 {
  background-image: url(../images/interior_6.jpg);
}

.interior-7 {
  background-image: url(../images/interior_7.jpg);
}

.interior-8 {
  background-image: url(../images/interior_8.jpg);
}

.interior-9 {
  background-image: url(../images/interior_9.jpg);
}

.interior-10 {
  background-image: url(../images/interior_10.jpg);
}







/*TAB GALLERY SECTION*/

/* The grid: Four equal columns that floats next to each other */
.column_gallery_tab {
  float: left;
  width: 25%;
  padding: 10px;
  box-sizing: border-box;
}

/* Style the images inside the grid */
.column_gallery_tab img {
  opacity: 0.8; 
  cursor: pointer;
  width: 100%;
  border: 1px solid #00000026;
}

.column_gallery_tab img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row_gallery_tab:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.container_gallery_tab {
  margin-top: 30px;
  position: relative;
  /*display: none;*/
}

/* Closable button inside the image */
.closebtnDerecho {
  position: absolute;
  top: 10px;
  right: 20px;
  background-color: white;
  height: 25px;
  width: 3px;
  transform: rotate(45deg);
  opacity: 0;
  transition: 0.5s;
  z-index: 5;
}

.closebtnIzquierdo {
  position: absolute;
  top: 10px;
  right: 20px;
  background-color: white;
  height: 25px;
  width: 3px;
  transform: rotate(-45deg);
  opacity: 0;
  transition: 0.5s;
  z-index: 5;
}

.hover__info {
  position: absolute;
  box-sizing: border-box;
  padding: 5px 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  background-color: rgba(163, 140, 95, 0.8);
  height: 100%;
  opacity: 0;
  transition: 0.5s;
}

.hover__info-show {
  opacity: 1;
}

.hover__info .separation-line {
  background-color: #fff;
  margin-top: 5px;
}

.hover__info h3 {
  color: #fff;
  font-size: 1.5em;
  text-transform: uppercase;
}

.hover__info p {
  margin-top: 5px;
  line-height: 1.2em;
  font-size: 0.75em;
  font-weight: 300;
  color: #fff;
}

.brochure__link {
  text-decoration: none;
}

.brochure__link img {
  width: 40px;
  vertical-align: middle;
  margin-right: 20px;
}

.brochure__link span {
  color: #A38C5F;
  font-size: 0.9em;
}


/*.proyectos__section {
  padding: 0 5vw;
  margin: 40px 0;
  position: relative;
}

.proyectos__section img {
  max-width: 100%;
}

.proyecto__hover {
  position: absolute;
  box-sizing: border-box;
  padding: 3vh 15vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  width: 90%;
  background-color: rgba(129, 126, 113, 0.8);
  height: 100%;
  opacity: 0;
  transition: 0.5s;
}

.proyecto__hover-show {
  opacity: 1;
}

.proyecto__hover h3 {
  color: #fff;
  font-size: 1.7em;
}

.proyecto__hover .separation-line-white {
  margin: 5px 0 10px 0;
}

.proyecto__hover p {
  line-height: 1.2em;
  font-size: 0.8em;
  font-weight: 300;
  color: #fff;
}*/

.content-08 {
  margin-bottom: 0;
}

.contact__section {
  padding: 0 10vw;
  border-top: solid black 1px;
}

.contact__info {
  margin: 40px auto;
}

.contact__info h2 {
  text-transform: uppercase;
  margin-bottom: 40px;
}

/*FOOTER*/

footer {
  background-color: #000;
  padding: 30px;
  text-align: center;
}

.footer_img {
  width: 100%;
  margin: 20px 0;
}

.footer_img-medium {
  width: 80%;
  margin: 20px auto;
}

.footer_img-small {
  width: 60%;
  margin: 20px auto;
}
